// Color Stacks
$primary-color: #15a4fa;
$secondary-color: #2d3950;
$text-color: #969797;
$second-text-color: #75787e;
$white:#fff;
$lightShade: rgba(0,0,0,0.2);
$blackShade: rgba(0,0,0,0.8);
// Font-size Stacks
$primary-size: 34px;
$secondary-size: 13px;
//linear-gradient
$grad1 : to right, #48baff 50%, #5fc3ff 50%;
$grad2 : linear, left top, right top, color-stop(50%, #48baff), color-stop(50%, #5fc3ff);
